

.parallax-container{
    background-image: url(../img/background.jpg);
    background-position: center;
}

.banner{
    color: white;
    text-align: center;
}

.banner h2{
    margin-top: 25%;
    font-size: 45pt;
}

.banner p{
    font-size: 20pt
}

.banner a{
    width: 50%;
}

.prod{
    margin:12%;
    max-width: 80%;
}

.prode{
    margin-top: 26%
}

.treino{
    width: 100%;
    height: auto;
    padding-bottom: 3%;
    background: #009688;
}

.usage{
    margin-top: 7%;
}

.card-image{
    height:300px;
}

.usa{
    height: 300px;
}

.imglogo{
    margin: 30px
}


