

.parallax-container{
    background-image: url(../img/Slider-2-e7.jpg);
    background-position: center;
    background-size: cover;
}

.banner{
    color: white;
    text-align: center;
}

.banner h2{
    margin-top: 25%;
    font-size: 45pt;
}

div h3{
    margin-top: 6%;
}
.banner p{
    font-size: 20pt
}

.banner a{
    width: 50%;
}

.prod{
    margin:12%;
    max-width: 80%;
}

.prode{
    margin-top: 26%
}

.treino{
    width: 100%;
    height: auto;
    padding-bottom: 3%;
    background: #009688;
}

.usage{
    margin-top: 7%;
}

.card-image{
    height:300px;
}

.usa{
    height: 300px;
}

.imglogo{
    margin: 30px
}


.parallaxx {
    position: relative;
    overflow: hidden;
    height: 500px;
    max-height: 400px
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}
.parallax img {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translateX(-50%)
}